.formulario {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    display: flex;
}

.form-container {
    max-width: 600px; /* Ancho máximo para el contenedor */
    width: 100%; /* Asegura que ocupe el 100% del ancho disponible */
    padding: 20px; /* Espaciado interno */
    /* border: 1px solid #ddd; Opcional: borde para el contenedor */
    border-radius: 8px; /* Esquinas redondeadas */
    
}


.formulario h2 {
    font-size: 32px;
    font-weight: 400;
    color: #212121;
    text-align: left; /* Alinea el texto a la izquierda */
    display: flex; /* Utiliza flexbox para alinear icono y texto en una línea */
    align-items: center; /* Alinea verticalmente el icono y el texto */
    white-space: nowrap; /* Evita que el texto se envuelva en una nueva línea */
    
}

.container {
    /*display: flex;*/
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; /* Centra los elementos hijos */
    flex-direction: column;
}

.container2 {
    padding-right: 20%;
    padding-left: 20%;
    align-items: center;
}

.image-wrapper {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    margin-bottom: 5px; /* Ajusta el margen inferior del contenedor */
}

.TDiggital {
    max-width: 60%; /* Establece un ancho máximo para la imagen */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block; /* Asegura que la imagen sea un elemento de bloque para centrado */
    margin-bottom: 5px; /* Ajusta el margen inferior de la imagen */
}


@media (max-width: 768px) {
    .TDiggital {
        max-width: 150px; /* Ajusta el ancho máximo en pantallas más pequeñas */
        
    }
}

@media (max-width: 480px) {
    .TDiggital {
        max-width: 100px; /* Ajusta el ancho máximo en pantallas aún más pequeñas */
    }
}


.image-container, .form-container {
    flex: 1;
    min-width: 300px;
}

.image-container img {
    width: 100%;
    border-radius: 20px;
}

image-container TDiggital{
    max-width: 50%;
}

@media (max-width: 1024px) {
    .formulario form {
        padding: 8px 10%;
    }
    
    .formulario h2 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .formulario {
        margin: 40px 5%;
    }

    .formulario form {
        padding: 8px 10%;
    }
    
    .formulario h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .formulario {
        margin: 20px 5%;
    }

    .formulario form {
        padding: 8px 10%;
    }
    
    .formulario h2 {
        font-size: 20px;
    }

    .image-container {
        order: -1; /* Mueve la imagen arriba del formulario */
    }
}




.forgot-password {
    font-size: 14px;
    color: #666;
    text-decoration: none;
    margin-top: 10px;
    display: block;
  }
  
  .forgot-password:hover {
    color: #333;
    text-decoration: underline;
  }

  .forgot-password {
    text-align: right;
    margin-top: 10px;
}

.forgot-password a {
    color: #333; /* Puedes cambiar el color si deseas */
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.formulario h2 a {
    margin-right: -20px; /* Espacio entre el icono y el texto */
    display: flex; /* Asegura que el icono dentro del enlace se alinee correctamente */

}


 
