#formBuscar {
  margin-bottom: 1rem;
}

#formBuscar .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

#formBuscar .col-12, #formBuscar .col-md-4, #formBuscar .col-md-2 {
  /*padding-right: 100px;*/
  padding-left: 20px;
  padding-top: 20px;
}

#formBuscar label {
  margin-bottom: 1rem !important;
}

#formBuscar select.form-control,
#formBuscar input.form-control {
  display: block;
  width: 100%;
  height: calc(1.2em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 15px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#formBuscar .ant-select-selector {
  font-size: 1.2rem; /* Ajusta el tamaño de la fuente según sea necesario */
}

#formBuscar .ant-select-fixed-width .ant-select-selector {
  width: 350px; /* Ajusta el tamaño según tus necesidades */
  border: none;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}


.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px; /*Este es el border radios de los campos buscar por letras*/
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #343a40;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.d-flex.align-items-end {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 767.98px) {
  #formBuscar .row {
    flex-direction: column;
  }

  #formBuscar .col-12 {
    margin-bottom: 1rem;
  }

  #formBuscar .col-12:last-child {
    margin-bottom: 0;
  }

  .d-flex.align-items-end {
    align-items: center;
    justify-content: center;
  }
}

#formBuscar .me-3 {
  margin-right: 1rem;
}

#formBuscar .flex-grow-1 {
  flex-grow: 1;
  width: 50%;
}

.select-capsula {
  width: 350px;
}