.menu-container {
    position: absolute; /* Asegura que el z-index funcione correctamente */
    padding-top: 60px; /* Ajusta este valor según sea necesario */
    z-index: 1000; /* Asegúrate de que sea mayor que el z-index de los multiselectores */
    transform: translateX(0); /* Posición normal */
}

.custom-menu {
  width: 300px;
  padding: 0px; /*Margen izquierdo de la barra*/
  margin-top: 0;
}

.custom-menu .ant-menu-item,
.custom-menu .ant-menu-submenu-title {
  color: #fff;
}

.custom-menu .ant-menu-item:hover,
.custom-menu .ant-menu-submenu-title:hover,
.custom-menu .ant-menu-item-selected {
  background-color: #373738;
}

.custom-menu .ant-menu-item:hover a,
.custom-menu .ant-menu-item-selected a,
.custom-menu .ant-menu-submenu-title:hover,
.custom-menu .ant-menu-item-selected .ant-menu-submenu-title {
  color: #41D9A1;
}

.custom-menu .ant-menu-item:hover .anticon,
.custom-menu .ant-menu-item-selected .anticon {
  color: #41D9A1;
}

.custom-menu.hidden {
  display: none;
}

