.menu-container {
  position: relative; /* Asegura que el menú se alinee con respecto a este contenedor */
}

.custom-menu {
  width: 300px;
  padding: 0;
  margin-top: 0;
  position: absolute;  /* Posiciona la barra respecto al contenedor padre */
  left: 0;  /* Alinea el menú a la izquierda del contenedor */
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}


.custom-menu .ant-menu {
  overflow: visible;
}

.custom-menu .ant-menu-item,
.custom-menu .ant-menu-submenu-title {
  color: #fff;
  
}

.custom-menu .ant-menu-item:hover,
.custom-menu .ant-menu-submenu-title:hover,
.custom-menu .ant-menu-item-selected {
  background-color: #373738;
  
}

.custom-menu .ant-menu-item:hover a,
.custom-menu .ant-menu-item-selected a,
.custom-menu .ant-menu-submenu-title:hover,
.custom-menu .ant-menu-item-selected .ant-menu-submenu-title {
  color: #41D9A1;
}

.custom-menu .ant-menu-item:hover .anticon,
.custom-menu .ant-menu-item-selected .anticon {
  color: #41D9A1;
}

.ant-menu-submenu-popup {
  z-index: 1001;
}

.custom-menu.hidden {
  display: none;
}

.logo {
  max-width: 100%;
  height: auto;
}
