.centrado-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.form-contenido {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.titulo-formulario {
  margin-bottom: 25px;
  font-size: 1.8rem;
  font-weight: bold;
}
