/* MultiSelector.css */

/* Contenedor principal del Space */
.space-container {
    width: 32%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    padding: 20px; /* Espaciado alrededor del componente */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho total */
  }
  
  /* Ajustes para el Select */
  .ant-select {
    width: 100%; /* Asegura que el Select ocupe todo el ancho del contenedor */
  }
  
  /* Opcional: Ajustar el tamaño del Select en pantallas más pequeñas */
  @media (max-width: 768px) {
    .space-container {
      padding: 15px; /* Reducir padding en pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .space-container {
      padding: 10px; /* Reducir aún más el padding en pantallas muy pequeñas */
    }
  }
  