.App {
  font-family: 'Open Sans', sans-serif;
    padding: 20px;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .ticket-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }

  .color{
    color: #ffff;
    text-align: center;
    font-weight: normal;
  }
  
  .ticket-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .ticket-table th,
  .ticket-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .ticket-table th {
    background-color: #343a40;
    text-align: center;
  }
  
  .ticket-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .ticket-table tr:hover {
    background-color: #ddd;
  }
  