  .top-bar {
    /*display: flex;*/
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;
    background-color: #373738;
    padding: 10px 20px;
    height: 50px; /* Mantén la altura fija */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    position: relative;
  }
  
  .top-bar-left h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .top-bar-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre íconos y la imagen */
    justify-content: right;
  }
  
  .top-bar-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
    /* margin-left: -5px; Ajusta este valor según sea necesario */
  }

  
  .top-bar-icon:hover {
    color: #41D9A1; /* Efecto hover */
  }
  
  /* Estilos para la imagen */
  .top-bar-image {
    width: 33%; /* Reducir el tamaño a una tercera parte */
    max-width: 20%; /* Limitar el tamaño máximo si es necesario */
    border-radius: 50%; /* Hacerla circular */
    object-fit: cover; /* Ajustar internamente la imagen */
    display: block; /* Esto hace que la imagen se comporte como un bloque */
    margin-left: 85%; /* Usa un valor en porcentaje */

    
  }

  .top-bar-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); /* Centrar horizontalmente */
      height: 100%; /* Mantener la altura de la barra */
      display: flex;
      align-items: flex-start; /* Alinea al principio (arriba) */
      padding-top: 5px; /* Espacio desde el borde superior */

  }

  /* Ajustar la imagen a la altura de la barra */
  .logo {
    height: 140%;
    object-fit: contain; /* Asegura que la imagen se ajuste */
    margin-top: 5px;
  }

  /* Estilos para los iconos */
  .top-bar-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
  }

  .top-bar-icon:hover {
    color: #41D9A1; /* Efecto hover */
  }


  
  