/* Tabla.css */

/* Ajustes generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px !important; /* Tamaño base de la fuente para el cuerpo */
}

/* Sección principal */
section {
  padding: 5px 10px;
  border-radius: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 300px;
}

/* Select personalizado */
.custom-select {
  width: 100%;
  max-width: 150px;
}

/* Componentes en línea */
.inline-components {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -15px;
  flex-wrap: wrap; /* Para que los componentes se ajusten en pantallas pequeñas */
  /*gap:16px;*/ 
}

/* Componentes en línea */
.inline-components2 {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  margin-bottom: 5px;
  flex-wrap: wrap; /* Para que los componentes se ajusten en pantallas pequeñas */
  gap: 30px; 
}

.inline-components2 .boton {
  margin-top: -10px; /* Ajusta este valor según sea necesario */
}

.component-item {
  flex: 1;
  margin-right: '10px';
  margin-bottom: 10px; /* Margen inferior para separación en pantallas pequeñas */
  position: relative;
  z-index: 1; /* Asegura que los campos de texto estén sobre otros elementos */
  
  
}
  

.inline-components .component-item:last-child {
  margin-right: 0;
}

/* Tabla de tickets */
.ticket-table {
  margin: 20px auto;
  width: 100%;
  border-collapse: collapse;
  /* overflow-x: auto; Barra que permite desplazamiento horizontal en pantallas pequeñas, solo cuando la página desborda */
  /* overflow-y: hidden; Oculta el desplazamiento vertical */
}

.ticket-table table {
  width: 100%;
  border-collapse: collapse;
}

.ticket-table th,
.ticket-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ticket-table th {
  background-color: #343a40;
  color: #ffffff;
}

.ticket-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.ticket-table tr:hover {
  background-color: #ddd;
}

.paginacion {
  margin-top: 20px;
}

/* Media Queries para responsividad */
@media (max-width: 1200px) {
  section {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  section {
    max-width: 750px;
  }

  .custom-select {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .inline-components {
    flex-direction: column;
    align-items: stretch;
  }

  .component-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .ticket-table th,
  .ticket-table td {
    padding: 6px;
  }
}

@media (max-width: 576px) {
  section {
    width: 95%;
  }

  .ticket-table th,
  .ticket-table td {
    padding: 4px;
  }
}

@media (max-width: 400px) {
  section {
    padding: 20px 5px;
  }

  .inline-components {
    margin-bottom: 10px;
  }

  .component-item {
    flex: 1;
    width: 100%;
    margin-right: 0;
  }
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-button .bi-eye {
  font-size: 1.2em; /* Ajusta el tamaño del ícono */
  color: #373738;  /* Color del ícono */
}


