/* Tabla.css */

/* Ajustes generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Sección principal */
section {
  padding: 50px 10px;
  border-radius: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  margin-bottom: 300px;
}

/* Select personalizado */
.custom-select {
  width: 100%;
  max-width: 150px;
}

/* Componentes en línea */
.inline-components {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Para que los componentes se ajusten en pantallas pequeñas */
}

.component-item {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px; /* Margen inferior para separación en pantallas pequeñas */
}

.inline-components .component-item:last-child {
  margin-right: 0;
}

/* Tabla de tickets */
.ticket-table {
  margin: 20px auto;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto; /* barra que permite desplazamiento horizontal en pantallas pequeñas, solo cuando la pagina desborda */
  overflow-y: hidden; /* Oculta el desplazamiento vertical */
}

.ticket-table table {
  width: 100%;
  border-collapse: collapse;
}

.ticket-table th,
.ticket-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ticket-table th {
  background-color: #343a40;
  color: #ffffff;
}

.ticket-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.ticket-table tr:hover {
  background-color: #ddd;
}

/* Media Queries para responsividad */
@media (max-width: 1200px) {
  section {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  section {
    max-width: 750px;
  }

  .custom-select {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .inline-components {
    flex-direction: column;
    align-items: stretch;
  }

  .component-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .ticket-table th,
  .ticket-table td {
    padding: 6px;
  }
}

@media (max-width: 576px) {
  section {
    width: 95%;
  }

  .ticket-table th,
  .ticket-table td {
    padding: 4px;
  }
}

@media (max-width: 400px) {
  section {
    padding: 20px 5px;
  }

  .inline-components {
    margin-bottom: 10px;
  }
}

  
  