/* src/components/Footer.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.footer {
  background-image: url('../../assets/Images/Footer.jpg'); /* Ruta de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: #fff;
  padding: 20px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px 0;
  text-align: left;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-column p,
.footer-column ul {
  margin: 5px 0;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin: 5px 0;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #95FFD4;
}

.social-media {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-top: 10px;
}

.social-icon {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #ff6f61;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
}
