.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 5%;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas nuevas */
}

.formulario form {
    width: 100%;
    max-width: 600px; /* Puedes ajustar este valor según sea necesario */
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25); /* Corrige el valor del canal alfa */
    border-radius: 20px;
    padding: 8px 5%;
}

.formulario h2 {
    font-size: 32px;
    font-weight: 400;
    color: #212121;
    text-align: center; /* Centra el texto */
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #373738;
    justify-content: center; /* Centra los elementos hijos */
}

.image-wrapper {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    margin-bottom: 5px; /* Ajusta el margen inferior del contenedor */
}

.TDiggital {
    max-width: 60%; /* Establece un ancho máximo para la imagen */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block; /* Asegura que la imagen sea un elemento de bloque para centrado */
    margin-bottom: 5px; /* Ajusta el margen inferior de la imagen */
}


@media (max-width: 768px) {
    .TDiggital {
        max-width: 150px; /* Ajusta el ancho máximo en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .TDiggital {
        max-width: 100px; /* Ajusta el ancho máximo en pantallas aún más pequeñas */
    }
}


.image-container, .form-container {
    flex: 1;
    min-width: 300px;
}

.image-container img {
    width: 100%;
    border-radius: 20px;
}

image-container TDiggital{
    max-width: 50%;
}

@media (max-width: 1024px) {
    .formulario form {
        padding: 8px 10%;
    }
    
    .formulario h2 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .formulario {
        margin: 40px 5%;
    }

    .formulario form {
        padding: 8px 10%;
    }
    
    .formulario h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .formulario {
        margin: 20px 5%;
    }

    .formulario form {
        padding: 8px 10%;
    }
    
    .formulario h2 {
        font-size: 20px;
    }

    .image-container {
        order: -1; /* Mueve la imagen arriba del formulario */
    }
}