/* Estilos renombrados de PedidosVtex */

/* Ajustes generales */
.pedidosvtex-body {
    font-family: Arial, sans-serif;
    font-size: 12px; /* Tamaño base de la fuente */
    margin: 0;
    padding: 0;
}

/* Sección principal */
.pedidosvtex-section {
    max-width: 1200px; /* Ancho máximo de la sección */
    margin: 0 auto; /* Centrar la sección */
    padding: 20px; /* Padding para la sección */
}

/* Select personalizado */
.pedidosvtex-custom-select {
    width: 100%;
    max-width: 150px;
}

/* Componentes en línea */
.pedidosvtex-inline-components {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -15px;
    flex-wrap: wrap; /* Para que los componentes se ajusten en pantallas pequeñas */
    flex-basis: 30%;
    margin: 10px;
}

/* Componentes en línea 3 */
.pedidosvtex-inline-components3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap; /* Permite que los botones y el campo se ajusten correctamente */
}

.pedidosvtex-inline-components2 .pedidosvtex-boton {
    margin-top: -10px; /* Ajusta este valor según sea necesario */
}

.pedidosvtex-component-item {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px; /* Margen inferior para separación en pantallas pequeñas */
    position: relative;
    z-index: 1; /* Asegura que los campos de texto estén sobre otros elementos */
}

.pedidosvtex-inline-components .pedidosvtex-component-item:last-child {
    margin-right: 0;
}

/* Tabla de tickets */
.pedidosvtex-ticket-table {
    margin: 10px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.pedidosvtex-ticket-table2 {
    margin: 10px;
    width: 12%;
    border-collapse: collapse;
    table-layout: fixed;
}

.pedidosvtex-ticket-table3 {
    margin: 10px;
    width: 6%;
    border-collapse: collapse;
    table-layout: fixed;
}

.pedidosvtex-ticket-table table {
    width: 100%;
    border-collapse: collapse;
}

.pedidosvtex-ticket-table th,
.pedidosvtex-ticket-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    word-wrap: break-word; /* Asegura que el contenido se ajuste a la celda */
    overflow: hidden; /* Evita que el contenido se salga */
}

.pedidosvtex-ticket-table th {
    background-color: #343a40;
    color: #ffffff;
}

.pedidosvtex-ticket-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pedidosvtex-ticket-table tr:hover {
    background-color: #ddd;
}

/* Paginación */
.pedidosvtex-paginacion {
    margin-top: 20px;
}

/* Media Queries para responsividad */
@media (max-width: 1200px) {
    .pedidosvtex-section {
        max-width: 1000px;
    }
}

@media (max-width: 992px) {
    .pedidosvtex-section {
        max-width: 750px;
    }

    .pedidosvtex-custom-select {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .pedidosvtex-inline-components {
        flex-direction: column;
        align-items: stretch;
    }

    .pedidosvtex-component-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .pedidosvtex-ticket-table th,
    .pedidosvtex-ticket-table td {
        padding: 6px;
    }
}

@media (max-width: 576px) {
    .pedidosvtex-section {
        width: 95%;
    }

    .pedidosvtex-ticket-table th,
    .pedidosvtex-ticket-table td {
        padding: 4px;
    }
}

@media (max-width: 400px) {
    .pedidosvtex-section {
        padding: 20px 5px;
    }

    .pedidosvtex-inline-components {
        margin-bottom: 10px;
    }

    .pedidosvtex-component-item {
        flex: 1;
        width: 100%;
        margin-right: 0;
    }
}

/* Botón de ícono */
.pedidosvtex-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.pedidosvtex-icon-button .bi-eye {
    font-size: 1.2em; /* Ajusta el tamaño del ícono */
    color: #373738;  /* Color del ícono */
}

/* Fila de totales */
.pedidosvtex-total-row {
    font-weight: bold; /* Todos los datos en negrita */
}

.pedidosvtex-total-label {
    font-size: 1.2em; /* Tamaño de letra más grande para "Total:" */
}

.pedidosvtex-total-value {
    font-weight: bold; /* Negrita para los valores */
}

.pedidosvtex-container {
    background-color: transparent;
}

/* Desplazamiento horizontal */
.pedidosvtex-tabla-container {
    width: 100%;
    overflow-x: auto; /* Habilita el scroll horizontal */
    margin-bottom: 20px; /* Espacio debajo de la tabla */
}

.pedidosvtex-tabla-scroll {
    width: 100%;
    min-width: 600px; /* Ancho mínimo de la tabla para evitar que se colapse en pantallas pequeñas */
}

.pedidosvtex-row {
    display: flex;
    align-items: center; /* Alinea verticalmente */
}

.pedidosvtex-multi-selector {
    width: 100%; /* Asegura que tengan el mismo ancho */
    margin-bottom: 0; /* Remueve cualquier margen inferior que pueda causar desalineación */
}

.pedidosvtex-inline-components2 {
    display: flex;
    justify-content: flex-start; /* Alinea los componentes al lado izquierdo */
}

.separador {

    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-wrap: wrap; /* Para que los componentes se ajusten en pantallas pequeñas */
    gap: 10px;
    justify-content: space-between; 
}
